workflow.json
{
  "name": "YT to Everything",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yt-to-everything",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst url = body?.url || '';\n\nconst match = url.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([a-zA-Z0-9_-]{11})/);\n\nif (!match) {\n  throw new Error('Invalid YouTube URL');\n}\n\nconst videoId = match[1];\nconst cleanUrl = `https://www.youtube.com/watch?v=${videoId}`;\n\nreturn [{ json: { videoId, cleanUrl } }];"
      },
      "id": "node-extract",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a content repurposing expert. Analyze this YouTube video: {{ $json.cleanUrl }}\\n\\nGenerate the following 4 pieces of content based on the video. Return ONLY a valid JSON object with exactly these 4 keys, no extra text:\\n\\n{\\n  \\\"summary\\\": \\\"3 paragraph summary of the video key points and main takeaways\\\",\\n  \\\"linkedin\\\": \\\"LinkedIn post under 200 words. Scroll-stopping first line, 2-3 short paragraphs, 2-3 relevant hashtags at end. Sound like a real person.\\\",\\n  \\\"tweet\\\": \\\"Tweet thread of 3-5 tweets. Format as 1/ text newline 2/ text etc. Punchy and engaging.\\\",\\n  \\\"newsletter\\\": \\\"Newsletter section with subject line on first line starting with Subject: then blank line then 250 words with intro, 3 key takeaways as bullet points, and call to action.\\\"\\\n}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 2048,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "id": "node-gemini",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst text = data.candidates?.[0]?.content?.parts?.[0]?.text;\n\nif (!text) {\n  throw new Error('No content returned from Gemini');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch(e) {\n  throw new Error('Failed to parse Gemini response as JSON');\n}\n\nreturn [{ json: {\n  summary: parsed.summary || '',\n  linkedin: parsed.linkedin || '',\n  tweet: parsed.tweet || '',\n  newsletter: parsed.newsletter || ''\n}}];"
      },
      "id": "node-parse",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Video ID", "type": "main", "index": 0 }]]
    },
    "Extract Video ID": {
      "main": [[{ "node": "Call Gemini API", "type": "main", "index": 0 }]]
    },
    "Call Gemini API": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
